.d1{
    border: 5px;
    border-color: aliceblue;
    border-style: double;
    text-align: center;
    padding: 10px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 25px;
    margin-bottom: 20px;
}