<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
</nav>
<h1 style="text-align: center; color: aliceblue;">Transaction History</h1>
<table class="table" style=" color: white;">

    <thead class="table-dark">
        <tr>
            <th>Amount</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transactions">
            <th>{{t.amount}}</th>
            <th>{{t.type}}</th>
        </tr>
    </tbody>
</table>